body {
    text-align: center;
}

.boxes {
    display: flex;

}

.features1 {
    display: flex;


}

.features2 {
    display: flex;

}

li {
    list-style-type: none;
}

.employ {
    display: flex;
}

/*jinan*/


img{
    float: right;

}
.terms{
    display: flex;
}

.ready{
    background-color: rgb(19, 19, 68);
    height: 130px;width: auto;
}
.horizantal{
    display: flex ;
    flex-direction: row;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.button1{
   display: block;
   margin: auto;
    height: 60px;width: 100px;
    
}
.prices{
    display: flex;
}

.one{
    text-decoration: line-through;
}

